<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Sports Sheduler</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <div >
                <h2 class="py-2 ">Welcome to the Sports Sheduler</h2>
            <h3 class="py-2">New here? <button> <a href="/signup" class="bg-blue-600 text-white px-2 py-1.5 rounded font-medium mr-2 mb-2">Sign-up now</a></h3></button> 
            <h3 class="py-2">Already have an account? <a href="/login" class="bg-blue-600 text-white px-2 py-1.5 rounded font-medium mr-2 mb-2">Sign-in</a></h3></button> 
            </div>
        </div>
    </div>
</body>

</html>
