<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Ray Sports-Scheduler</title>
  <style>
    body {
      background: linear-gradient(to right, #8debff, #6cacff);
      font-family: Arial, 'Times New Roman', Times, serif;
      padding: 20px;
      margin: 0;
      background-image: url('https://th.bing.com/th/id/OIP.EGFXHlZsZFZGGFNZbqeyuQHaEs?pid=ImgDet&rs=1');
      background-size: cover;
      background-repeat: no-repeat;
    }

    p {
      font-size: 24px;
      font-weight: bold;
      text-align: justify;
      color: rgb(15, 15, 15);
    }

    form {
      background-color: rgb(255, 255, 255);
      border-radius: 40px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 400px;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      justify-content: center;
      align-items: center;
    }

    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .note {
      font-size: 120%;
      color: green;
    }

    .A {
      position: absolute;
      border: 0;
      background-color: #000000d5;
      color: #f8f8f8;
      padding: 16px 26px;
      border-radius: 40px;
      display: inline-block;
      size: 10px;
      top: 36%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>

<body>
  <div>
    <h1>
      <p class="A">Welcome to Ray Sports-Scheduler App</p>
    </h1>
    <div class="container">
      <form>
        <div class="flex">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <p class="form-control-static">Admin</p>
          </div>
          <a href="/admin" class="note">
            <button type="button">Click here to sign-in as admin</button>
          </a>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-globe"></span>
            </span>
            <p class="form-control-static">Player</p>
          </div>
          <a href="/player" class="note">
            <button type="button">Click here to sign-up or sign-in as player</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
