<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Ray Sports-Scheduler</title>
  <style>
    body {
      background: linear-gradient(to right, #8debff, #6cacff);
      font-family: Arial, 'Times New Roman', Times, serif;
      padding: 20px;
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .box {
      background-image: url(https://th.bing.com/th/id/OIP.Hd69LCQqsixT1ptZhMW-RAHaE-?pid=ImgDet&rs=1);
      border-radius: 40px;
      padding: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 750px;
      width: 100%;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: white;
      font-size: 32px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .form-label {
      color: #555;
      margin-bottom: 0;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color:azure;
      margin-top: 20px;
      position: relative;
      cursor: default;
    }

    .form-label:hover::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ff5e3a;
    }

    .note {
      text-align: center;
      margin-top: 20px;
      color: aliceblue;
    }

    .btn {
      display: block;
      width: 100%;
      background-color: #ff5e3a;
      border: none;
      color: white;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 30px;
    }

    .fancy {
      @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
      }
    }

    .form-label:hover+.note .btn {
      transform: translateY(10px);
    }

    .note .btn:hover {
      background-color: #ff3e1a;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="box">
      <p><span class="fancy">WELCOME TO RAY'S SPORTS SCHEDULER</span></p>
      <div>
        <p class="form-label">Admin</p>
        <div class="note">
          <a href="/admin">
            <button class="btn">Click here to sign-in as admin</button>
          </a>
        </div>
        <p class="form-label">Player</p>
        <div class="note">
          <a href="/player">
            <button class="btn">Click here to sign-up or sign-in as player</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
