<div class="mt-3">
    <%if (Players.some(Players => Players.player_id === userId)){%>
        <a href="#" onclick="deletePlayer_ID(<%=Session.id%>)" style="color:blue"><u>LeaveSession</u></a>
    <%}else{%>
        <%if(Session.playersNeeded === 0){%>
            <p style="color:red"><b>Fully Booked</b></p>
       <% }else{%>
            <a href="#" onclick="joinSession(<%=Session.id%>)" style="color: blue;"><u>JoinSession</u></a>
        <%}%>
    <%} %>  
</div>
<%if (Session.userId === userId){%>
<div class="mt-3">
    <a href="editSession/<%=Session.id%>"><svg  style="display: inline;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
      </svg><u style="color: blue;">Edit Session</u>
      </a>
    <a href="cancel/<%=Session.id%>" ><svg style="display: inline;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg><u style="color: blue;">Cancel Session</u>
      </a>
</div>
<%}%>
