<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>RAY'S SPORTS-SCHEDULER</title>
    <style>
        .form-label {
                color: #555;
                margin-bottom: 0;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                color:white;
                margin-top: 20px;
                position: relative;
                cursor: default;
                }

        .form-label:hover::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -20px;
                transform: translateX(-50%);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #ff5e3a;
                }
        body {
            background: linear-gradient(to right, #8debff, #6cacff);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .grid {
            background-image: url(https://th.bing.com/th/id/OIP.Hd69LCQqsixT1ptZhMW-RAHaE-?pid=ImgDet&rs=1);
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            width: 500px;
            max-width: 500px;
            height: 400px;
            text-align: center;
            top: 50%;
        }
        .btn {
            background-color: #FF7F50;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #FF6A3E;
        }
        .fancy {
                @supports (background-clip: text) or (-webkit-background-clip: text) {
                    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-size: 110% auto;
                    background-position: center;
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    font-size: 36px;
                    line-height: 1.2;
                    text-align: center;
                }
            }
    </style>
</head>
<body>
    <div>
        <form>
            <div class="grid">
                <p><span class="fancy">WELCOME TO RAY'S SPORTS SCHEDULER</span></p>
                <p class="form-label">Already have an account as a Player?</p><br>
                <a href="/login" class="btn">Click here to sign in</a>
                <p class="form-label">Are you new as a Player?</p><br>
                <a href="/signup" class="btn">Click here to sign up</a>
            </div>
        </form>
    </div>
</body>
</html>
