<div class="flex-container">
    <%function formatTime(timeString) {%>
        <%const [hourString, minute] = timeString.split(":");%>
        <%const hour = +hourString % 24;%>
        <%return (hour % 12 || 12) + ":" + minute + (hour < 12 ? "AM" : "PM");%>
    <%}%>
    <%if(allUpcoming.length!=0){%>
        <% for(var i=0; i< allUpcoming.length; i++) { %>
                <div class="font-medium  rounded px-2 py-1">
                    <a href="partSession/<%=allUpcoming[i].id%>">
                    <p><%=(new Date(allUpcoming[i].date)).toDateString() %></p>
                    <p><%=formatTime(allUpcoming[i].time)%></p>
                <%if (allUpcoming[i].playersNeeded === 0){%>
                    <p style="color:red">Fully Booked</p>
                <%}else{%>
                    <p><%=allUpcoming[i].playersNeeded %> slots</p>
                <%}%>
                </a>
                </div>
            <% } %>
    <%}else{%>
        <p>There are no upcoming sessions</p>
    <%}%>
</div>
