<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <title>
        View Reports
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <b class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-3 py-1 "><a href="/sport">Go
                        Back</a></b>
                <b class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-3 py-1 "><a
                        href="/signout">Signout</a></b>
            <h2  style="color: blue" class="mt-3"><b>Get Reports:</b></h2>
            <form action="/viewReports" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="py-3">
                        <label for="date1">Enter From Date and Time:</label>
                    <input required type="datetime-local" name="date1" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                    </div>
                    <div class="py-3">
                        <label for="date2">Enter To Date and Time:</label>
                    <input required type="datetime-local" name="date2" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                    </div>
                    <div class="py-3">
                        <button type="submit" class="text-white bg-purple-600 hover:bg-blue-800 font-medium rounded px-5 py-2">Submit</button>
                    </div>
            </form>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li class="bg-red-200 my-3 list-none rounded px-4 py-2"> <%= messages.error[i] %></li>
                <% } %>
              <% } %>
                </div>
        </div>
    </div>

</body>

</html>
